<!doctype html>
<html lang="en">
<head th:insert="fragments/general.html :: head"></head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div class="container">
		<h1>Edit an hotel</h1>

		<form th:action="@{/hotel/edit}" th:object="${hotel}" method="post">
			<div class="mb-3">
				<label for="address" class="form-label">Address</label>
				<input type="text" class="form-control"
					id="address" th:field="*{address}">
			</div>
			<div class="mb-3">
				<label for="city" class="form-label">City</label>
				<input type="text" class="form-control"
					id="city" th:field="*{city}">
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Name of the hotel</label>
				<input type="text" class="form-control"
					id="name" th:field="*{name}"></input>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control"
					id="description" th:field="*{description}"></textarea>
			</div>
			<a href="/hotels" class="mr-2">Back</a>
			<button type="submit" class="btn btn-primary">Save</button>
			
			<input type="hidden" th:field="*{idHotel}">
		</form>
		
		<div class="row">
			<div class="col-md-4 col-sm-6" th:each="room : ${rooms}">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><span th:text="${room.nbBed}"></span> beds</h5>
						<div class="card-text">
							<div><b><span th:text="${room.priceByNight}"></span> $ by nights</b></div>
							<div><i></b><span th:text="${room.nbRoom}"></span> available room</i></div>
							<p th:text="${room.description}"></p>
						</div>
						<div class="mt-3">
							<a th:href="@{'room/' + ${room.idRoom} + '/edit'}" class="btn btn-primary">Edit</a>
							<a href="" class="btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="room/add">Add a room</a>
		
		


		<footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>