<!doctype html>
<html lang="en">
<head th:insert="fragments/general.html :: head"></head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div class="container">
		<h1>Hotels</h1>

		<div class="row">
			<div class="col-md-4 col-sm-6" th:each="hotel : ${hotels}">
				<div class="card">
					<div class="card-body">
						<a th:href="|/view/${hotel.idHotel}|"><h5 class="card-title" th:text="${hotel.name}"></h5></a>
						<div class="card-text">
							<i th:text="${hotel.address}"></i>
							<div>
								<b th:text="${hotel.city}"></b>
							</div>
							<div th:text="${hotel.description}" class="mt-2"></div>
						</div>
						<div class="mt-3">
							<a th:href="@{'/hotel/'+${hotel.idHotel}+'/edit'}" class="btn btn-primary">Edit</a> <a th:href="@{'/hotel/'+${hotel.idHotel}+'/delete'}" class="btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="mt-2" sec:authorize="hasAuthority('manager')">
			<a href="/hotel/create" class="btn btn-primary">Add a new hotel</a>
		</div>



	</div>
	<footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>