<!doctype html>
<html lang="en">
<head th:insert="fragments/general.html :: head"></head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div class="container">
		<h1>Home</h1>
		<p>Hotel Discovery allow you to discover all the hotels from a city</p>
		<div class="input-group mb-3">
			<input autocomplete="off" type="text" class="form-control" placeholder="Search a city" onkeyup="check4enter(event)" id="city" list="cities">
			<div class="input-group-append">
				<button class="btn btn-primary" onclick="search()">
					<i class="bi bi-search"></i>
				</button>
			</div>
			<datalist id="cities">
				<option th:each="city : ${cities}" th:value="${city}">
			</datalist>
		</div>
		<div class="text-center">
			<p>or</p>
			<a href="/client/discovery" class="btn btn-info btn-lg">Hotel Discovery©</a>
		</div>
		<script>
			function check4enter(e) {
				if (e.keyCode === 13) {
					search();
				}
			}
			
			function search() {
				let city = document.getElementById('city').value;
				window.location = '/search/' + city;
			}
			
		</script>
		<footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>